
/*.ag-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}*/

.ag-row-odd{
  background-color: #e3e7ed !important;
}

.refresh-button {
  background: url('/images/refresh.png') left center no-repeat;
  background-color: #e3e7ed;
  padding:2px;
  height:24px;
  width:24px;
  margin-left: 12px;
}

.multiselect {
    width:10em;
    margin-bottom: 2px;
    overflow:auto;
}

.multiselect .checked {
    color:#ffffff;
    background-color:#00E5FF;
}

.multiselect legend {
    display:block;
}

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

#mainBody{
  overflow: hidden !important;
}

.lower-div {
  height: 75%;
  margin-top: 20px;
  position: relative;
  width: 98%;
}

.upper-div {
  max-width:1000px;
  height:50px;
  background-color:#e6eeff;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.title {
  font-weight: bold;
  font-family: sans-serif;
}

.logo {
  float: left;
  height: 50px;
  width: 60px;
}
.react-logo {
  float: right;
  height: 50px;
  width: 60px;
}


#file-uploader {
  width:400px !important;
}
#quickFilterInput{
  float: right;
}
